## Imports

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score

## Lade Datensatz

In [2]:
df = pd.read_csv('in-vehicle-coupon-recommendation.csv')
display(list(df.columns.values))
df.rename(columns={"passanger": "passenger"}, inplace=True)
df

['destination',
 'passanger',
 'weather',
 'temperature',
 'time',
 'coupon',
 'expiration',
 'gender',
 'age',
 'maritalStatus',
 'has_children',
 'education',
 'occupation',
 'income',
 'car',
 'Bar',
 'CoffeeHouse',
 'CarryAway',
 'RestaurantLessThan20',
 'Restaurant20To50',
 'toCoupon_GEQ5min',
 'toCoupon_GEQ15min',
 'toCoupon_GEQ25min',
 'direction_same',
 'direction_opp',
 'Y']

,destination,passenger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,1
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,0,1,1
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,1,1,0,1,0
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0

## Fill missing values in data
- Count NAs per column
- For each column containing NAs pick the mode
- Replace NAs with mode if mode is not NaN (insufficient data)

(only works because all affected features are categorical)

In [3]:
df.isna().sum()

destination                 0
passenger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [4]:
for index, value in df.isna().sum().items():
    if value>0:
        print('Current Column: \'' + index + '\'')
        print(df[index].value_counts(dropna=False))
        mode = df[index].value_counts(dropna=False).index[0]
        print()
        if str(mode) == 'nan':
            print('Not filling in Column \'' + index + '\' due to lack of data.')
        else:
            print('Filling Column \'' + index + '\' with mode: ' + str(mode))
            df[index] = df[index].fillna(mode)
            print(df[index].value_counts(dropna=False))
        print('\n')

df.isna().sum()

Current Column: 'car'
NaN                                         12576
Mazda5                                         22
do not drive                                   22
Scooter and motorcycle                         22
Car that is too old to install Onstar :D       21
crossover                                      21
Name: car, dtype: int64

Not filling in Column 'car' due to lack of data.


Current Column: 'Bar'
never    5197
less1    3482
1~3      2473
4~8      1076
gt8       349
NaN       107
Name: Bar, dtype: int64

Filling Column 'Bar' with mode: never
never    5304
less1    3482
1~3      2473
4~8      1076
gt8       349
Name: Bar, dtype: int64


Current Column: 'CoffeeHouse'
less1    3385
1~3      3225
never    2962
4~8      1784
gt8      1111
NaN       217
Name: CoffeeHouse, dtype: int64

Filling Column 'CoffeeHouse' with mode: less1
less1    3602
1~3      3225
never    2962
4~8      1784
gt8      1111
Name: CoffeeHouse, dtype: int64


Current Column: 'CarryAway'
1~3      4672
4~8      4258
less1    1856
gt8      1594
never     153
NaN       151
Name: CarryAway, dtype: int64

Filling Column 'CarryAway' with mode: 1~3
1~3      4823
4~8      4258
less1    1856
gt8      1594
never     153
Name: CarryAway, dtype: int64


Current Column: 'RestaurantLessThan20'
1~3      5376
4~8      3580
less1    2093
gt8      1285
never     220
NaN       130
Name: RestaurantLessThan20, dtype: int64

Filling Column 'RestaurantLessThan20' with mode: 1~3
1~3      5506
4~8      3580
less1    2093
gt8      1285
never     220
Name: RestaurantLessThan20, dtype: int64


Current Column: 'Restaurant20To50'
less1    6077
1~3      3290
never    2136
4~8       728
gt8       264
NaN       189
Name: Restaurant20To50, dtype: int64

Filling Column 'Restaurant20To50' with mode: less1
less1    6266
1~3      3290
never    2136
4~8       728
gt8       264
Name: Restaurant20To50, dtype: int64

destination                 0
passenger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                         0
CoffeeHouse                 0
CarryAway                   0
RestaurantLessThan20        0
Restaurant20To50            0
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

## One-hot-encoding
- make a list of all categorical features
- get an overview of occurring values
- drop all binary labeled features (already OHE)
- for each feature create new columns, one for each distinct value<br>
FEATURE_IS_VALUE (e.g. destination_IS_Home)
- drop old features

In [5]:
dfOHE = df
featuresToBeOHE = df.columns.drop('temperature')

for feature in featuresToBeOHE:
    print('Current feature: ' + feature)
    valueArray = df[feature].value_counts(dropna=False).index
    for value in valueArray:
        print(value)
    print()

featuresToBeOHE = featuresToBeOHE.drop(labels=['has_children', 'toCoupon_GEQ5min', 'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same', 'direction_opp', 'Y'])
print(featuresToBeOHE)

Current feature: destination
No Urgent Place
Home
Work

Current feature: passenger
Alone
Friend(s)
Partner
Kid(s)

Current feature: weather
Sunny
Snowy
Rainy

Current feature: time
6PM
7AM
10AM
2PM
10PM

Current feature: coupon
Coffee House
Restaurant(<20)
Carry out & Take away
Bar
Restaurant(20-50)

Current feature: expiration
1d
2h

Current feature: gender
Female
Male

Current feature: age
21
26
31
50plus
36
41
46
below21

Current feature: maritalStatus
Married partner
Single
Unmarried partner
Divorced
Widowed

Current feature: has_children
0
1

Current feature: education
Some college - no degree
Bachelors degree
Graduate degree (Masters or Doctorate)
Associates degree
High School Graduate
Some High School

Current feature: occupation
Unemployed
Student
Computer & Mathematical
Sales & Related
Education&Training&Library
Management
Office & Administrative Support
Arts Design Entertainment Sports & Media
Business & Financial
Retired
Food Preparation & Serving Related
Healthcare Practitioners & Technical
Healthcare Support
Community & Social Services
Legal
Transportation & Material Moving
Personal Care & Service
Protective Service
Architecture & Engineering
Life Physical Social Science
Construction & Extraction
Installation Maintenance & Repair
Production Occupations
Building & Grounds Cleaning & Maintenance
Farming Fishing & Forestry

Current feature: income
$25000 - $37499
$12500 - $24999
$37500 - $49999
$100000 or More
$50000 - $62499
Less than $12500
$87500 - $99999
$75000 - $87499
$62500 - $74999

Current feature: car
nan
Mazda5
do not drive
Scooter and motorcycle
Car that is too old to install Onstar :D
crossover

Current feature: Bar
never
less1
1~3
4~8
gt8

Current feature: CoffeeHouse
less1
1~3
never
4~8
gt8

Current feature: CarryAway
1~3
4~8
less1
gt8
never

Current feature: RestaurantLessThan20
1~3
4~8
less1
gt8
never

Current feature: Restaurant20To50
less1
1~3
never
4~8
gt8

Current feature: toCoupon_GEQ5min
1

Current feature: toCoupon_GEQ15min
1
0

Current feature: toCoupon_GEQ25min
0
1

Current feature: direction_same
0
1

Current feature: direction_opp
1
0

Current feature: Y
1
0

Index(['destination', 'passenger', 'weather', 'time', 'coupon', 'expiration',
       'gender', 'age', 'maritalStatus', 'education', 'occupation', 'income',
       'car', 'Bar', 'CoffeeHouse', 'CarryAway', 'RestaurantLessThan20',
       'Restaurant20To50'],
      dtype='object')

In [6]:
df.head()

,destination,passenger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,0

In [7]:
for feature in featuresToBeOHE:
    print('Current feature: ' + feature)
    valueArray = df[feature].value_counts(dropna=False).index
    print(dfOHE[feature].value_counts())
    for value in valueArray:
        dfOHE[str(feature) + '_IS_' + str(value)] = df[feature].map(lambda x: 1 if x==value else 0)
        print('  Current value: ' + str(value))
        print(dfOHE[str(feature) + '_IS_' + str(value)].value_counts())
    print()

dfOHE = dfOHE.drop(columns=featuresToBeOHE)

Current feature: destination
No Urgent Place    6283
Home               3237
Work               3164
Name: destination, dtype: int64
  Current value: No Urgent Place
0    6401
1    6283
Name: destination_IS_No Urgent Place, dtype: int64
  Current value: Home
0    9447
1    3237
Name: destination_IS_Home, dtype: int64
  Current value: Work
0    9520
1    3164
Name: destination_IS_Work, dtype: int64

Current feature: passenger
Alone        7305
Friend(s)    3298
Partner      1075
Kid(s)       1006
Name: passenger, dtype: int64
  Current value: Alone
1    7305
0    5379
Name: passenger_IS_Alone, dtype: int64
  Current value: Friend(s)
0    9386
1    3298
Name: passenger_IS_Friend(s), dtype: int64
  Current value: Partner
0    11609
1     1075
Name: passenger_IS_Partner, dtype: int64
  Current value: Kid(s)
0    11678
1     1006
Name: passenger_IS_Kid(s), dtype: int64

Current feature: weather
Sunny    10069
Snowy     1405
Rainy     1210
Name: weather, dtype: int64
  Current value: Sunny
1    10069
0     2615
Name: weather_IS_Sunny, dtype: int64
  Current value: Snowy
0    11279
1     1405
Name: weather_IS_Snowy, dtype: int64
  Current value: Rainy
0    11474
1     1210
Name: weather_IS_Rainy, dtype: int64

Current feature: time
6PM     3230
7AM     3164
10AM    2275
2PM     2009
10PM    2006
Name: time, dtype: int64
  Current value: 6PM
0    9454
1    3230
Name: time_IS_6PM, dtype: int64
  Current value: 7AM
0    9520
1    3164
Name: time_IS_7AM, dtype: int64
  Current value: 10AM
0    10409
1     2275
Name: time_IS_10AM, dtype: int64
  Current value: 2PM
0    10675
1     2009
Name: time_IS_2PM, dtype: int64
  Current value: 10PM
0    10678
1     2006
Name: time_IS_10PM, dtype: int64

Current feature: coupon
Coffee House             3996
Restaurant(<20)          2786
Carry out & Take away    2393
Bar                      2017
Restaurant(20-50)        1492
Name: coupon, dtype: int64
  Current value: Coffee House
0    8688
1    3996
Name: coupon_IS_Coffee House, dtype: int64
  Current value: Restaurant(<20)
0    9898
1    2786
Name: coupon_IS_Restaurant(<20), dtype: int64
  Current value: Carry out & Take away
0    10291
1     2393
Name: coupon_IS_Carry out & Take away, dtype: int64
  Current value: Bar
0    10667
1     2017
Name: coupon_IS_Bar, dtype: int64
  Current value: Restaurant(20-50)
0    11192
1     1492
Name: coupon_IS_Restaurant(20-50), dtype: int64

Current feature: expiration
1d    7091
2h    5593
Name: expiration, dtype: int64
  Current value: 1d
1    7091
0    5593
Name: expiration_IS_1d, dtype: int64
  Current value: 2h
0    7091
1    5593
Name: expiration_IS_2h, dtype: int64

Current feature: gender
Female    6511
Male      6173
Name: gender, dtype: int64
  Current value: Female
1    6511
0    6173
Name: gender_IS_Female, dtype: int64
  Current value: Male
0    6511
1    6173
Name: gender_IS_Male, dtype: int64

Current feature: age
21         2653
26         2559
31         2039
50plus     1788
36         1319
41         1093
46          686
below21     547
Name: age, dtype: int64
  Current value: 21
0    10031
1     2653
Name: age_IS_21, dtype: int64
  Current value: 26
0    10125
1     2559
Name: age_IS_26, dtype: int64
  Current value: 31
0    10645
1     2039
Name: age_IS_31, dtype: int64
  Current value: 50plus
0    10896
1     1788
Name: age_IS_50plus, dtype: int64
  Current value: 36
0    11365
1     1319
Name: age_IS_36, dtype: int64
  Current value: 41
0    11591
1     1093
Name: age_IS_41, dtype: int64
  Current value: 46
0    11998
1      686
Name: age_IS_46, dtype: int64
  Current value: below21
0    12137
1      547
Name: age_IS_below21, dtype: int64

Current feature: maritalStatus
Married partner      5100
Single               4752
Unmarried partner    2186
Divorced              516
Widowed               130
Name: maritalStatus, dtype: int64
  Current value: Married partner
0    7584
1    5100
Name: maritalStatus_IS_Married partner, dtype: int64
  Current value: Single
0    7932
1    4752
Name: maritalStatus_IS_Single, dtype: int64
  Current value: Unmarried partner
0    10498
1     2186
Name: maritalStatus_IS_Unmarried partner, dtype: int64
  Current value: Divorced
0    12168
1      516
Name: maritalStatus_IS_Divorced, dtype: int64
  Current value: Widowed
0    12554
1      130
Name: maritalStatus_IS_Widowed, dtype: int64

Current feature: education
Some college - no degree                  4351
Bachelors degree                          4335
Graduate degree (Masters or Doctorate)    1852
Associates degree                         1153
High School Graduate                       905
Some High School                            88
Name: education, dtype: int64
  Current value: Some college - no degree
0    8333
1    4351
Name: education_IS_Some college - no degree, dtype: int64
  Current value: Bachelors degree
0    8349
1    4335
Name: education_IS_Bachelors degree, dtype: int64
  Current value: Graduate degree (Masters or Doctorate)
0    10832
1     1852
Name: education_IS_Graduate degree (Masters or Doctorate), dtype: int64
  Current value: Associates degree
0    11531
1     1153
Name: education_IS_Associates degree, dtype: int64
  Current value: High School Graduate
0    11779
1      905
Name: education_IS_High School Graduate, dtype: int64
  Current value: Some High School
0    12596
1       88
Name: education_IS_Some High School, dtype: int64

Current feature: occupation
Unemployed                                   1870
Student                                      1584
Computer & Mathematical                      1408
Sales & Related                              1093
Education&Training&Library                    943
Management                                    838
Office & Administrative Support               639
Arts Design Entertainment Sports & Media      629
Business & Financial                          544
Retired                                       495
Food Preparation & Serving Related            298
Healthcare Practitioners & Technical          244
Healthcare Support                            242
Community & Social Services                   241
Legal                                         219
Transportation & Material Moving              218
Personal Care & Service                       175
Protective Service                            175
Architecture & Engineering                    175
Life Physical Social Science                  170
Construction & Extraction                     154
Installation Maintenance & Repair             133
Production Occupations                        110
Building & Grounds Cleaning & Maintenance      44
Farming Fishing & Forestry                     43
Name: occupation, dtype: int64
  Current value: Unemployed
0    10814
1     1870
Name: occupation_IS_Unemployed, dtype: int64
  Current value: Student
0    11100
1     1584
Name: occupation_IS_Student, dtype: int64
  Current value: Computer & Mathematical
0    11276
1     1408
Name: occupation_IS_Computer & Mathematical, dtype: int64
  Current value: Sales & Related
0    11591
1     1093
Name: occupation_IS_Sales & Related, dtype: int64
  Current value: Education&Training&Library
0    11741
1      943
Name: occupation_IS_Education&Training&Library, dtype: int64
  Current value: Management
0    11846
1      838
Name: occupation_IS_Management, dtype: int64
  Current value: Office & Administrative Support
0    12045
1      639
Name: occupation_IS_Office & Administrative Support, dtype: int64
  Current value: Arts Design Entertainment Sports & Media
0    12055
1      629
Name: occupation_IS_Arts Design Entertainment Sports & Media, dtype: int64
  Current value: Business & Financial
0    12140
1      544
Name: occupation_IS_Business & Financial, dtype: int64
  Current value: Retired
0    12189
1      495
Name: occupation_IS_Retired, dtype: int64
  Current value: Food Preparation & Serving Related
0    12386
1      298
Name: occupation_IS_Food Preparation & Serving Related, dtype: int64
  Current value: Healthcare Practitioners & Technical
0    12440
1      244
Name: occupation_IS_Healthcare Practitioners & Technical, dtype: int64
  Current value: Healthcare Support
0    12442
1      242
Name: occupation_IS_Healthcare Support, dtype: int64
  Current value: Community & Social Services
0    12443
1      241
Name: occupation_IS_Community & Social Services, dtype: int64
  Current value: Legal
0    12465
1      219
Name: occupation_IS_Legal, dtype: int64
  Current value: Transportation & Material Moving
0    12466
1      218
Name: occupation_IS_Transportation & Material Moving, dtype: int64
  Current value: Personal Care & Service
0    12509
1      175
Name: occupation_IS_Personal Care & Service, dtype: int64
  Current value: Protective Service
0    12509
1      175
Name: occupation_IS_Protective Service, dtype: int64
  Current value: Architecture & Engineering
0    12509
1      175
Name: occupation_IS_Architecture & Engineering, dtype: int64
  Current value: Life Physical Social Science
0    12514
1      170
Name: occupation_IS_Life Physical Social Science, dtype: int64
  Current value: Construction & Extraction
0    12530
1      154
Name: occupation_IS_Construction & Extraction, dtype: int64
  Current value: Installation Maintenance & Repair
0    12551
1      133
Name: occupation_IS_Installation Maintenance & Repair, dtype: int64
  Current value: Production Occupations
0    12574
1      110
Name: occupation_IS_Production Occupations, dtype: int64
  Current value: Building & Grounds Cleaning & Maintenance
0    12640
1       44
Name: occupation_IS_Building & Grounds Cleaning & Maintenance, dtype: int64
  Current value: Farming Fishing & Forestry
0    12641
1       43
Name: occupation_IS_Farming Fishing & Forestry, dtype: int64

Current feature: income
$25000 - $37499     2013
$12500 - $24999     1831
$37500 - $49999     1805
$100000 or More     1736
$50000 - $62499     1659
Less than $12500    1042
$87500 - $99999      895
$75000 - $87499      857
$62500 - $74999      846
Name: income, dtype: int64
  Current value: $25000 - $37499
0    10671
1     2013
Name: income_IS_$25000 - $37499, dtype: int64
  Current value: $12500 - $24999
0    10853
1     1831
Name: income_IS_$12500 - $24999, dtype: int64
  Current value: $37500 - $49999
0    10879
1     1805
Name: income_IS_$37500 - $49999, dtype: int64
  Current value: $100000 or More
0    10948
1     1736
Name: income_IS_$100000 or More, dtype: int64
  Current value: $50000 - $62499
0    11025
1     1659
Name: income_IS_$50000 - $62499, dtype: int64
  Current value: Less than $12500
0    11642
1     1042
Name: income_IS_Less than $12500, dtype: int64
  Current value: $87500 - $99999
0    11789
1      895
Name: income_IS_$87500 - $99999, dtype: int64
  Current value: $75000 - $87499
0    11827
1      857
Name: income_IS_$75000 - $87499, dtype: int64
  Current value: $62500 - $74999
0    11838
1      846
Name: income_IS_$62500 - $74999, dtype: int64

Current feature: car
Mazda5                                      22
do not drive                                22
Scooter and motorcycle                      22
Car that is too old to install Onstar :D    21
crossover                                   21
Name: car, dtype: int64
  Current value: nan
0    12684
Name: car_IS_nan, dtype: int64
  Current value: Mazda5
0    12662
1       22
Name: car_IS_Mazda5, dtype: int64
  Current value: do not drive
0    12662
1       22
Name: car_IS_do not drive, dtype: int64
  Current value: Scooter and motorcycle
0    12662
1       22
Name: car_IS_Scooter and motorcycle, dtype: int64
  Current value: Car that is too old to install Onstar :D
0    12663
1       21
Name: car_IS_Car that is too old to install Onstar :D, dtype: int64
  Current value: crossover
0    12663
1       21
Name: car_IS_crossover, dtype: int64

Current feature: Bar
never    5304
less1    3482
1~3      2473
4~8      1076
gt8       349
Name: Bar, dtype: int64
  Current value: never
0    7380
1    5304
Name: Bar_IS_never, dtype: int64
  Current value: less1
0    9202
1    3482
Name: Bar_IS_less1, dtype: int64
  Current value: 1~3
0    10211
1     2473
Name: Bar_IS_1~3, dtype: int64
  Current value: 4~8
0    11608
1     1076
Name: Bar_IS_4~8, dtype: int64
  Current value: gt8
0    12335
1      349
Name: Bar_IS_gt8, dtype: int64

Current feature: CoffeeHouse
less1    3602
1~3      3225
never    2962
4~8      1784
gt8      1111
Name: CoffeeHouse, dtype: int64
  Current value: less1
0    9082
1    3602
Name: CoffeeHouse_IS_less1, dtype: int64
  Current value: 1~3
0    9459
1    3225
Name: CoffeeHouse_IS_1~3, dtype: int64
  Current value: never
0    9722
1    2962
Name: CoffeeHouse_IS_never, dtype: int64
  Current value: 4~8
0    10900
1     1784
Name: CoffeeHouse_IS_4~8, dtype: int64
  Current value: gt8
0    11573
1     1111
Name: CoffeeHouse_IS_gt8, dtype: int64

Current feature: CarryAway
1~3      4823
4~8      4258
less1    1856
gt8      1594
never     153
Name: CarryAway, dtype: int64
  Current value: 1~3
0    7861
1    4823
Name: CarryAway_IS_1~3, dtype: int64
  Current value: 4~8
0    8426
1    4258
Name: CarryAway_IS_4~8, dtype: int64
  Current value: less1
0    10828
1     1856
Name: CarryAway_IS_less1, dtype: int64
  Current value: gt8
0    11090
1     1594
Name: CarryAway_IS_gt8, dtype: int64
  Current value: never
0    12531
1      153
Name: CarryAway_IS_never, dtype: int64

Current feature: RestaurantLessThan20
1~3      5506
4~8      3580
less1    2093
gt8      1285
never     220
Name: RestaurantLessThan20, dtype: int64
  Current value: 1~3
0    7178
1    5506
Name: RestaurantLessThan20_IS_1~3, dtype: int64
  Current value: 4~8
0    9104
1    3580
Name: RestaurantLessThan20_IS_4~8, dtype: int64
  Current value: less1
0    10591
1     2093
Name: RestaurantLessThan20_IS_less1, dtype: int64
  Current value: gt8
0    11399
1     1285
Name: RestaurantLessThan20_IS_gt8, dtype: int64
  Current value: never
0    12464
1      220
Name: RestaurantLessThan20_IS_never, dtype: int64

Current feature: Restaurant20To50
less1    6266
1~3      3290
never    2136
4~8       728
gt8       264
Name: Restaurant20To50, dtype: int64
  Current value: less1
0    6418
1    6266
Name: Restaurant20To50_IS_less1, dtype: int64
  Current value: 1~3
0    9394
1    3290
Name: Restaurant20To50_IS_1~3, dtype: int64
  Current value: never
0    10548
1     2136
Name: Restaurant20To50_IS_never, dtype: int64
  Current value: 4~8
0    11956
1      728
Name: Restaurant20To50_IS_4~8, dtype: int64
  Current value: gt8
0    12420
1      264
Name: Restaurant20To50_IS_gt8, dtype: int64

In [8]:
dfOHE

,temperature,has_children,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,destination_IS_No Urgent Place,destination_IS_Home,...,RestaurantLessThan20_IS_1~3,RestaurantLessThan20_IS_4~8,RestaurantLessThan20_IS_less1,RestaurantLessThan20_IS_gt8,RestaurantLessThan20_IS_never,Restaurant20To50_IS_less1,Restaurant20To50_IS_1~3,Restaurant20To50_IS_never,Restaurant20To50_IS_4~8,Restaurant20To50_IS_gt8
0,55,1,1,0,0,0,1,1,1,0,...,0,1,0,0,0,0,1,0,0,0
1,80,1,1,0,0,0,1,0,1,0,...,0,1,0,0,0,0,1,0,0,0
2,80,1,1,1,0,0,1,1,1,0,...,0,1,0,0,0,0,1,0,0,0
3,80,1,1,1,0,0,1,0,1,0,...,0,1,0,0,0,0,1,0,0,0
4,80,1,1,1,0,0,1,0,1,0,...,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,55,0,1,0,0,1,0,1,0,1,...,0,1,0,0,0,0,1,0,0,0
12680,55,0,1,0,0,0,1,1,0,0,...,0,1,0,0,0,0,1,0,0,0
12681,30,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
12682,30,0,1,1,1,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
12683,80,0,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

## Train-Test-Split

In [9]:
df_train, df_test = train_test_split(dfOHE)
X_train = df_train.drop(columns=['Y'])
y_train = df_train['Y']

df_test = df_test.dropna()
X_test = df_test.drop(columns=['Y'])
y_test = df_test['Y']

## Scaling

In [10]:
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)

## Training
#### Logistic regression: C :[0.1,1,4,5,6,10,30,100] und penalty: ["l1", "l2"]

In [11]:
parameter_candidates = [{'C': [0.1,1,4,5,6,10,30,100], 'penalty': ["l1", "l2"]}]
log = LogisticRegression(max_iter=1000,random_state=0)
clf = GridSearchCV(estimator=log, param_grid=parameter_candidates, n_jobs=-1)
clf = clf.fit(X_train_scaled, y_train)
print('Best penalty:', clf.best_estimator_.penalty)
print('Best C:', clf.best_estimator_.C)

Best penalty: l2
Best C: 0.1

In [12]:
logisticRegr = LogisticRegression(max_iter=1000,C=clf.best_estimator_.C,penalty =clf.best_estimator_.penalty)
logisticRegr.fit(X_train_scaled, y_train)

LogisticRegression(C=0.1, max_iter=1000)

#### Random Forest: n_estimators: [60,80,100,120,140] und max_depth: [2, 3, 4, 5]

In [13]:
parameter_candidates = [{'n_estimators': [60,80,100,120,140], 'max_depth': [2, 3, 4, 5]}]
RFC = RandomForestClassifier(random_state=0)
clf = GridSearchCV(estimator=RFC, param_grid=parameter_candidates, n_jobs=-1)
clf = clf.fit(X_train_scaled, y_train)
print('Best n:', clf.best_estimator_.n_estimators)
print('Best depth:', clf.best_estimator_.max_depth)

Best n: 80
Best depth: 5

In [14]:
model = RandomForestClassifier(random_state=0,max_depth=clf.best_estimator_.max_depth,n_estimators=clf.best_estimator_.n_estimators)
model.fit(X_train_scaled,y_train)

RandomForestClassifier(max_depth=5, n_estimators=80, random_state=0)

#### Gradient Boosting Tree: hyper params like in Random Forest.

In [15]:

parameter_candidates = [{'n_estimators': [60,80,100,120,140], 'max_depth': [2, 3, 4, 5]}]
gbt = GradientBoostingClassifier(random_state=0)
clf = GridSearchCV(estimator=gbt, param_grid=parameter_candidates, n_jobs=-1)
clf = clf.fit(X_train_scaled, y_train)
print('Best n:', clf.best_estimator_.n_estimators)
print('Best depth:', clf.best_estimator_.max_depth)

Best n: 140
Best depth: 5

In [16]:
gbt = GradientBoostingClassifier(random_state=0,max_depth=clf.best_estimator_.max_depth,n_estimators=clf.best_estimator_.n_estimators)
gbt.fit(X_train_scaled,y_train)

GradientBoostingClassifier(max_depth=5, n_estimators=140, random_state=0)

## Scale test data

In [17]:
X_test_scaled = scaler.transform(X_test)

## Predictions
#### Logistic regression

In [18]:
predictions_log = logisticRegr.predict(X_test_scaled)

#### Random Forest

In [19]:
predictions_rf = model.predict(X_test_scaled)

#### Gradient Boosting

In [20]:
predictions_gd = gbt.predict(X_test_scaled)

## Accuracy, precision and recall

#### Logistic regression

In [21]:
print("Accuracy score is:")
print(accuracy_score(y_test, predictions_log))
print("Recall is:")
print(recall_score(y_test, predictions_log))
print("Precision is:")
print(precision_score(y_test, predictions_log))

Accuracy score is:
0.6881110059918006
Recall is:
0.7754988913525499
Precision is:
0.7054967221381745

#### Random Forest

In [22]:
print("Accuracy score is:")
print(accuracy_score(y_test, predictions_rf))
print("Recall is:")
print(recall_score(y_test, predictions_rf))
print("Precision is:")
print(precision_score(y_test, predictions_rf))

Accuracy score is:
0.6808577735730054
Recall is:
0.8841463414634146
Precision is:
0.6651376146788991

#### Gradient Boosting

In [23]:
print("Accuracy score is:")
print(accuracy_score(y_test, predictions_gd))
print("Recall is:")
print(recall_score(y_test, predictions_gd))
print("Precision is:")
print(precision_score(y_test, predictions_gd))

Accuracy score is:
0.7590665405234942
Recall is:
0.8242793791574279
Precision is:
0.7688728024819028

In [24]:
df['Y'].value_counts()

1    7210
0    5474
Name: Y, dtype: int64